@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background: url("../assets/images/Fondo.png");
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    width: 100%;

    .navbar {
        background-color: #333c41c5;
        padding: 2rem 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            color: white;

            span {
                color: #4BCAFF;
            }
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        p {
            background-color: #333c41c5;
            color: white;
            padding: 0.5rem 1.5rem;
            font-size: 2rem;
            font-weight: 300;
            width: fit-content;
        }
    }
}

.seccion-1 {
    background-color: #4BCAFF;
    padding: 10rem 18rem 4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    align-items: center;

    .tarjetas {
        width: 100%;

        .titulo-1 {
            font-size: 1.3rem;
            padding: 0.5rem 0;
        }
    }
}

.seccion-2 {
    padding: 3rem 18rem;

    .navbar-2 {
        color: #515F67;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;

        h2 {
            font-weight: 300;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        color: #515F67;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .tabla-imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;

        img {
            width: 100%;
        }
    }
}

.seccion-3 {
    background-color: #515F67;
    padding: 3rem 18rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;

    .info {
        color: white;

        h2 {
            font-weight: 300;
        }

        p {
            padding-top: 1.5rem;
        }

        button {
            background: transparent;
            font-family: "Noto Sans", sans-serif;
            font-size: 0.9rem;
            font-weight: 700;
            margin-top: 1rem;
            color: #353F46;
            padding: 0.5rem 1.5rem;
            border: 2px solid #353F46;
        }
    }

    .imagen {
        img {
            width: 100%;
        }
    }
}

.seccion-4 {
    padding: 3rem 18rem;
    background-color: #4BCAFF;
    color: white;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 300;
        }
    }

    p {
        font-weight: 300;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

.seccion-5 {
    background-image: url(../assets/images/bg_whoIs.png);
    background-position: center;
    background-size: cover;
    padding: 5rem 18rem;

    h2 {
        font-weight: 300;
        color: white;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 1.5rem;
        color: white;
    }
}