@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background: url("../assets/images/Fondo.png");
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    width: 100%;

    .navbar {
        background-color: #333c41c5;
        padding: 2rem 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            color: white;

            span {
                color: #4BCAFF;
            }
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 0.6rem 0;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: 600;
                        padding: 0.5rem 0.8rem;
                        border: 2px solid transparent;
                    }

                    a:hover {
                        color: #4BCAFF;
                        padding: 0.5rem 0.8rem;
                        border: 2px solid #4BCAFF;
                    }
                }
            }
        }
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        p {
            background-color: #333c41c5;
            color: white;
            padding: 0.5rem 1.5rem;
            font-size: 2rem;
            font-weight: 300;
            width: fit-content;
            text-align: center;
        }
    }
}

.seccion-1 {
    background-color: #4BCAFF;
    padding: 9rem 18rem 4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    align-items: center;

    .tarjetas {
        width: 100%;

        .titulo-1 {
            font-size: 1.3rem;
            padding: 0.5rem 0;
        }
    }
}

.seccion-2 {
    padding: 4rem 18rem;

    .navbar-2 {
        color: #515F67;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;

        h2 {
            font-weight: 300;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: #515F67;
                        font-weight: 600;
                        padding: 0.2rem 0.8rem;
                        border: 2px solid transparent;
                        margin: 0 0.5rem;
                    }

                    a:hover {
                        color: #4BCAFF;
                        padding: 0.2rem 0.8rem;
                        border: 2px solid #4BCAFF;
                    }
                }
            }
        }
    }

    .tabla-imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;

        img {
            width: 100%;
        }
    }
}

.seccion-3 {
    background-color: #515F67;
    padding: 4rem 18rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;

    .info {
        color: white;

        h2 {
            font-weight: 300;
        }

        p {
            padding-top: 1.5rem;
        }

        button {
            background: transparent;
            font-family: "Noto Sans", sans-serif;
            font-size: 0.9rem;
            font-weight: 700;
            margin-top: 1rem;
            color: #353F46;
            padding: 0.5rem 1.7rem;
            border: 2px solid #353F46;
        }
    }

    .imagen {
        img {
            width: 100%;
        }
    }
}

.seccion-4 {
    padding: 4rem 18rem;
    background-color: #4BCAFF;
    color: white;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 300;
        }
    }

    p {
        font-weight: 300;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

.seccion-5 {
    background-image: url(../assets/images/bg_whoIs.png);
    background-position: center;
    background-size: cover;
    padding: 5rem 18rem 8rem;

    h2 {
        font-weight: 300;
        color: white;
        padding-bottom: 1.5rem;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2.5rem;
        row-gap: 2rem;
        color: white;

        .iconos {
            img {
                padding-right: 1.2rem;
            }
        }
    }
}

.seccion-6 {
    padding: 4rem 18rem;
    color: #515F67;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 300;
        }

        i {
            font-size: 1.8rem;
        }
    }

    .parrafo {
        font-weight: 300;
        font-size: 1.2rem;
        padding: 1.2rem 0;
        line-height: 2;
    }

    .autor {
        color: #4BCAFF;
        font-weight: 700;
        font-size: 0.8rem;
    }
}

.seccion-7 {
    background-image: url(../assets/images/bg_contact.png);
    background-position: center;
    background-size: cover;
    padding: 4rem 18rem 2rem;
    color: white;

    h2 {
        font-weight: 300;
        padding-bottom: 1.5rem;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) repeat(1, 2fr) repeat(1, 1fr);
        column-gap: 7rem;
        row-gap: 1.5rem;
        align-items: center;

        .input-1 {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            input {
                padding: 1rem;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                color: white;
            }
        }

        .input-2 {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            input {
                padding: 1rem;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                color: white;
            }
        }

        p {
            grid-column: 2/3;
            grid-row: 1/2;
            line-height: 1.5;
        }

        ul {
            grid-column: 2/3;
            grid-row: 2/3;
            list-style: none;
            line-height: 1.5;

        }

        .textarea {
            grid-column: 1/3;
            grid-row: 3/4;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            textarea {
                height: 100%;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                padding: 1rem;
                color: white;
            }
        }

        .boton {
            grid-column: 1/2;
            grid-row: 4/5;

            button {
                padding: 1rem;
                width: 80%;
                background-color: #4BCAFF;
                font-family: "Noto Sans", sans-serif;
                font-size: 1rem;
                font-weight: 600;
                color: white;
                border: none;
            }
        }
    }
}

footer {
    padding: 4rem 18rem;
    background-color: #353F47;
    color: #515F67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    nav {
        a {
            color: #515F67;
            font-weight: 600;
            text-decoration: none;
        }
    }
}

@media (max-width: 1279px) {
    header {
        .navbar {
            padding: 2rem 4rem;
        }

        .titulo {
            padding: 2rem 4rem;
        }
    }

    .seccion-1 {
        padding: 7rem 4rem 4rem;
    }

    .seccion-2 {
        padding: 4rem;
    }

    .seccion-3 {
        padding: 4rem;
        column-gap: 3rem;
    }

    .seccion-4 {
        padding: 4rem;
    }

    .seccion-5 {
        padding: 4rem;
    }

    .seccion-6 {
        padding: 4rem;
    }

    .seccion-7 {
        padding: 4rem 4rem 2rem;

        form {
            column-gap: 4rem;

            .input-1,
            .input-2 {
                height: auto;
            }
        }
    }

    footer {
        padding: 4rem;
    }
}

@media(max-width: 920px) {
    header {
        .navbar {
            padding: 2rem 3rem;
        }

        .titulo {
            padding: 2rem 3rem;
        }
    }

    .seccion-1 {
        padding: 5rem 3rem 3rem;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2.5rem;
        column-gap: 2.5rem;
    }

    .seccion-2 {
        padding: 3rem;

        .navbar-2 {
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            nav {
                align-self: center;
            }
        }
    }

    .seccion-3 {
        padding: 3rem;
        grid-template-columns: 1fr;
        row-gap: 3rem;
        column-gap: 0;
    }

    .seccion-4 {
        padding: 3rem;
    }

    .seccion-5 {
        padding: 3rem;

        .contenedor {
            column-gap: 2rem;

            .iconos {
                img {
                    width: 4rem;
                    padding-right: 0.5rem;
                }
            }
        }
    }

    .seccion-6 {
        padding: 3rem;
    }

    .seccion-7 {
        padding: 3rem 3rem 1rem;

        form {
            grid-template-rows: repeat(4, 1fr);
            row-gap: 2rem;
            column-gap: 2rem;
        }
    }

    footer {
        padding: 3rem;
    }
}

@media(max-width: 768px) {
    header {
        grid-template-rows: 20% 80%;
        height: 38rem;

        .navbar {
            padding: 2rem;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;

            nav {
                ul {
                    justify-content: center;
                    align-items: center;

                    li {
                        a {
                            padding: 0.5rem 0.7rem;
                            font-size: 0.8rem;
                        }

                        a:hover {
                            padding: 0.5rem 0.7rem;
                        }
                    }
                }
            }
        }

        .titulo {
            padding: 2rem;

            p {
                font-size: 1.3rem;
                padding: 0.5rem 1rem;
            }
        }
    }

    .seccion-1 {
        padding: 3rem 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);

        .tarjetas {
            text-align: center;
        }
    }

    .seccion-2 {
        padding: 2rem;

        .navbar-2 {
            padding-bottom: 1rem;

            nav {
                ul {
                    align-items: center;
                    justify-content: center;

                    li {
                        padding: 0.6rem 0;

                        a {
                            margin: 0;
                            padding: 0.5rem 0.7rem;
                            font-size: 0.8rem;
                        }

                        a:hover {
                            padding: 0.5rem 0.7rem;
                        }
                    }
                }
            }
        }

        .tabla-imagenes {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
        }
    }

    .seccion-3 {
        padding: 2rem;
    }

    .seccion-4 {
        padding: 2rem;

        p {
            font-size: 1rem;
        }
    }

    .seccion-5 {
        padding: 2rem;

        .contenedor {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            row-gap: 1.5rem;

            .iconos {
                text-align: center;
            }
        }
    }

    .seccion-6 {
        padding: 2rem;

        .parrafo {
            line-height: normal;
            font-size: 1rem;
        }
    }

    .seccion-7 {
        padding: 2rem;

        form {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            column-gap: 0;

            .input-1 {
                grid-column: 1/2;
                grid-row: 3/4;
                height: 100%;
                justify-content: center;

                label {
                    padding-bottom: 1rem;
                }

                input {
                    height: auto;
                }
            }

            .input-2 {
                grid-column: 1/2;
                grid-row: 4/5;
                height: 100%;
                justify-content: center;

                label {
                    padding-bottom: 1rem;
                }

                input {
                    height: auto;
                }
            }

            p {
                grid-column: 1/2;
                grid-row: 1/2;
            }

            ul {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .textarea {
                grid-column: 1/2;
                grid-row: 5/6;
                justify-content: center;

                label {
                    padding-bottom: 1rem;
                }

                textarea {
                    height: auto;
                }
            }

            .boton {
                grid-row: 6/7;
                text-align: center;
            }
        }
    }

    footer {
        padding: 2rem;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        nav {
            line-height: 2;
            font-size: 0.9rem;
        }
    }
}

@media(max-width: 480px) {
    header {
        grid-template-rows: 25% 75%;
        height: 30rem;

        .navbar {
            padding: 1rem;

            nav {
                width: 100%;

                ul {
                    justify-content: space-between;

                    li {
                        a {
                            padding: 0;
                            border: none;
                        }

                        a:hover {
                            padding: 0;
                            border: none;
                        }
                    }
                }
            }
        }

        .titulo {
            padding: 2rem;

            p {
                font-size: 1.3rem;
                padding: 0.5rem 1rem;
            }
        }
    }

    .seccion-2 {
        padding: 1.5rem;

        .navbar-2 {

            nav {
                width: 100%;

                ul {
                    justify-content: space-between;

                    li {
                        padding: 0.6rem 0;

                        a {
                            padding: 0;
                            border: none;
                        }

                        a:hover {
                            padding: 0;
                            border: none;
                        }
                    }
                }
            }
        }

        .tabla-imagenes {
            gap: 1rem;
        }
    }

    .seccion-3 {
        row-gap: 2rem;
    }

    .seccion-5 {
        .contenedor {
            .iconos {
                img {
                    width: 23%;
                }
            }
        }
    }

    .seccion-7 {
        form {
            .input-1 {

                input {
                    padding: 0.7rem;
                }
            }

            .input-2 {

                input {
                    padding: 0.7rem;
                }
            }

            .textarea {

                textarea {
                    padding: 0.7rem;
                }
            }

            .boton {
                button {
                    padding: 0.7rem;
                }
            }
        }
    }

    footer {
        padding: 1.3rem 1rem;

        nav {
            line-height: 2;
            font-size: 0.73rem;
        }

        p {
            font-size: 0.8rem;
        }
    }
}