@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background: url("../assets/images/Fondo.png");
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    width: 100%;

    .navbar {
        background-color: #333c41c5;
        padding: 2rem 18rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            color: white;

            span {
                color: #4BCAFF;
            }
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    a {
                        text-decoration: none;
                        color: white;
                        padding: 0.5rem 1.2rem;
                        font-weight: 600;
                        margin: 0 0.3rem;
                    }

                    a:hover {
                        color: #4BCAFF;
                        padding: 0.5rem 1rem;
                        border: 2px solid #4BCAFF;
                    }
                }
            }
        }
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        p {
            background-color: #333c41c5;
            color: white;
            padding: 0.5rem 1.5rem;
            font-size: 2rem;
            font-weight: 300;
            width: fit-content;
        }
    }
}

.seccion-1 {
    background-color: #4BCAFF;
    padding: 10rem 18rem 4rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
    align-items: center;

    .tarjetas {
        width: 100%;

        .titulo-1 {
            font-size: 1.3rem;
            padding: 0.5rem 0;
        }
    }
}

.seccion-2 {
    padding: 3rem 18rem;

    .navbar-2 {
        color: #515F67;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;

        h2 {
            font-weight: 300;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        color: #515F67;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .tabla-imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;

        img {
            width: 100%;
        }
    }
}

.seccion-3 {
    background-color: #515F67;
    padding: 3rem 18rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    align-items: center;

    .info {
        color: white;

        h2 {
            font-weight: 300;
        }

        p {
            padding-top: 1.5rem;
        }

        button {
            background: transparent;
            font-family: "Noto Sans", sans-serif;
            font-size: 0.9rem;
            font-weight: 700;
            margin-top: 1rem;
            color: #353F46;
            padding: 0.5rem 1.5rem;
            border: 2px solid #353F46;
        }
    }

    .imagen {
        img {
            width: 100%;
        }
    }
}

.seccion-4 {
    padding: 3rem 18rem;
    background-color: #4BCAFF;
    color: white;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 300;
        }
    }

    p {
        font-weight: 300;
        font-size: 1.2rem;
        padding-top: 1rem;
    }
}

.seccion-5 {
    background-image: url(../assets/images/bg_whoIs.png);
    background-position: center;
    background-size: cover;
    padding: 5rem 18rem 8rem;

    h2 {
        font-weight: 300;
        color: white;
        padding-bottom: 1.5rem;
    }

    .contenedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2.5rem;
        row-gap: 1.5rem;
        color: white;

        .iconos {
            img {
                padding-right: 1.2rem;
            }
        }
    }
}

.seccion-6 {
    padding: 3rem 18rem;
    color: #515F67;

    .encabezado {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-weight: 300;
        }

        i {
            font-size: 1.8rem;
        }
    }

    .parrafo {
        font-weight: 300;
        font-size: 1.2rem;
        padding: 1.2rem 0;
        line-height: 2;
    }

    .autor {
        color: #4BCAFF;
        font-weight: 700;
        font-size: 0.8rem;
    }
}

.seccion-7 {
    background-image: url(../assets/images/bg_contact.png);
    background-position: center;
    background-size: cover;
    padding: 3rem 18rem;
    color: white;

    h2 {
        font-weight: 300;
        padding-bottom: 1.5rem;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr) repeat(1, 2fr) repeat(1, 1fr);
        column-gap: 7rem;
        row-gap: 1.5rem;
        align-items: center;

        .input-1 {
            grid-column: 1/2;
            grid-row: 1/2;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            input {
                padding: 1rem;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                color: white;
                height: 100%;
            }
        }

        .input-2 {
            grid-column: 1/2;
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            input {
                padding: 1rem;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                color: white;
                height: 100%;
            }
        }

        p {
            grid-column: 2/3;
            grid-row: 1/2;
            line-height: 1.5;
        }

        ul {
            grid-column: 2/3;
            grid-row: 2/3;
            list-style: none;
            line-height: 1.5;

        }

        .textarea {
            grid-column: 1/3;
            grid-row: 3/4;
            display: flex;
            flex-direction: column;
            height: 100%;

            label {
                padding-bottom: 0.5rem;
                font-weight: 600;
            }

            textarea {
                height: 100%;
                background: transparent;
                font-family: "Noto Sans", sans-serif;
                border: 2px solid white;
                padding: 1rem;
                color: white;
            }
        }

        .boton {
            grid-column: 1/2;
            grid-row: 4/5;
        }

        button {
            padding: 1rem;
            width: 80%;
            background-color: #4BCAFF;
            font-family: "Noto Sans", sans-serif;
            font-size: 1rem;
            font-weight: 600;
            color: white;
            border: none;
        }
    }
}

footer {
    padding: 3rem 18rem;
    background-color: #353F47;
    color: #515F67;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;

    nav {
        a {
            color: #515F67;
            font-weight: 600;
            text-decoration: none;
        }
    }
}