@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans", sans-serif;
}

header {
    background: url("../assets/images/Fondo.png");
    background-position: center;
    background-size: cover;
    height: 52rem;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 100%;
    width: 100%;

    .navbar {
        background-color: #333c41c5;
        padding: 2rem 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 1.5rem;
            color: white;

            span {
                color: #4BCAFF;
            }
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }

    .titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        p {
            background-color: #333c41c5;
            color: white;
            padding: 0.5rem 1.5rem;
            font-size: 2rem;
            font-weight: 300;
            width: fit-content;
        }
    }
}

.seccion-1 {
    background-color: #4BCAFF;
    padding: 10rem 20rem 5rem;
    padding-top: 10rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    justify-content: center;

    .tarjetas {
        width: 100%;

        .titulo-1 {
            font-size: 1.3rem;
            padding: 0.5rem 0;
        }
    }
}

.seccion-2 {
    padding: 2rem 20rem;

    .navbar-2 {
        color: #515F67;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 2rem;

        h2 {
            font-weight: 300;
        }

        nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    padding: 1rem;

                    a {
                        text-decoration: none;
                        color: #515F67;
                    }
                }
            }
        }
    }

    .tabla-imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;

        img {
            width: 100%;
        }
    }
}